<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body bgcolor='white'>
    <center><h1> <보안 요구 사항></h1> </center>
    <center><h1> I'm not a robot</h1><br></center>
    
    <center>  <img src="sessac.png" alt="sessac" width="500" height="200"> </center>


        <center> <h4> 위에 적힌 두 단어를 대소문자 구분하여 입력해주세요.</h4> </center>
            <center><h4> 자동등록 프로그램을 방지하기 위한 절차입니다.</h4><br> </center>


    <center> <form action="/" method="post">
        <input type="text" placeholder="텍스트를입력하세요." name="test"/>
        <input type="submit" value="제출"/>
    </form> </center>


</body>

</html>
